

# API Base URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8082

# Environment
NODE_ENV=development


# Supabase Project Connection
NEXT_PUBLIC_SUPABASE_URL=https://khgymjazxdzpmwkpvjqk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoZ3ltamF6eGR6cG13a3B2anFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxNzM1MTAsImV4cCI6MjA4Nzc0OTUxMH0.33KbClXPXPCwCwc22IDMFBDMeHrbAoDLJ0xZF3tuFIY
